$black: #000000;
$cornflower-lilac: #1417df;
$salmon: #73daff;
$white: #ffffff;
$your-pink: #53caae;
$text-container-width: 37.5em;


.input-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 6rem;
    min-width: 50vw;
    position: relative;
}

.hint-container {
    position: relative;
    border-radius: 1rem;
    width: $text-container-width;
    margin: 1rem 0 0;
    text-align: center;

    .backdrop {
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 0.6;
        background-color: whitesmoke;
        border-radius: 1rem;
        left: 0;
        z-index: -1;
    }

    p {
        font-size: 2rem;
        color: $salmon;
        font-weight: 600;
        z-index: 1;
        text-shadow: 1px 1px 2px black, 0 0 1em #f9f9f9, 0 0 0.2em #929092;
    }
}

.c-checkbox {
    display: none;

    &:checked + .c-formContainer {
        .c-form {
            width: $text-container-width;
        }

        .c-form__toggle {
            visibility: hidden;
            opacity: 0;
            transform: scale(0.7);
        }

        .c-form__input,
        .c-form__buttonLabel {
            transition: 0.2s 0.1s;
            visibility: visible;
            opacity: 1;
            transform: scale(1);
        }
    }
}

.c-formContainer,
.c-form,
.c-form__toggle {
    width: 20em;
    height: 6.25em;
}

.c-formContainer {
    position: relative;
    font-weight: 700;
}

.c-form,
.c-form__toggle {
    position: absolute;
    border-radius: 6.25em;
    background-color: $white;
    transition: 0.2s;
}

.c-form {
    left: 50%;
    transform: translateX(-50%);
    padding: 0.625em;
    box-sizing: border-box;
    box-shadow: 0 0.125em 0.3125em rgba($black, 0.3);

    // position form inputs
    display: flex;
    justify-content: center;
}

.c-form__toggle {
    color: $salmon;
    top: 0;
    cursor: pointer;
    z-index: 1;

    // position message
    display: flex;
    align-items: center;
    justify-content: center;

    &::before {
        font-size: 1.75em;
        content: attr(data-title);
    }
}

.c-form__input,
.c-form__button {
    font: inherit;
    border: 0;
    outline: 0;
    border-radius: 5em;
    box-sizing: border-box;
}

.c-form__input,
.c-form__buttonLabel {
    font-size: 1.75em;
    opacity: 0;
    visibility: hidden;
    transform: scale(0.7);
    transition: 0s;
}

.c-form__input {
    color: $your-pink;
    height: 100%;
    width: 100%;
    padding: 0 0.714em;

    &::placeholder {
        color: currentColor;
    }

    &:required:valid {
        color: $salmon;

        + .c-form__buttonLabel {
            color: $white;

            &::before {
                pointer-events: initial;
            }
        }
    }
}

.c-form__buttonLabel {
    color: $cornflower-lilac;
    height: 100%;
    width: auto;

    // accepts click events
    &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        pointer-events: none;
        cursor: pointer;
    }
}

.c-form__button {
    color: inherit;
    padding: 0;
    height: 100%;
    width: 6em;
    background-color: $salmon;
}

@media (max-width: 480px) {
    .c-form {
        width: 22.5em !important;
    }

    .c-form__button {
        width: 5rem !important;
        font-size: 17px;
    }

    .hint-container {
        width: 22.5rem;
    }
}
